@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap&subset=cyrillic');

color1 = #31363B
color2 = #2B2F34
color3 = #C9CACB
color4 = #3683DB
color5 = #F4F4F4
color6 = #fff

height1 = 44px
